* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
.main {
  margin-top: 0;
  padding-top: 0;
}
#root{
  margin: 0;
  padding: 0;
}
.header
{
  display: flex;
  flex: 1;
  justify-content: space-between;
  background-color: rgb(44, 43, 43);
  color:white;
  height: 70px;
  align-items: center;
  padding: 0 20px;
  margin-top: 0;
}
.app-name
{
  font-size: medium;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.search-bar{
  display: flex;

}
.search-input{
  padding: 12px;
  font-size: 1.1rem;
  width: 290px;
  border-radius: 5px;
  
}
.products-container-grid
{
  display: grid;
  grid-template-columns: repeat(8,1fr);
  
}
@media(max-width:2000px)
{
  .products-container-grid{
    grid-template-columns: repeat(7,1fr);
  }
}
@media(max-width:1600px)
{
  .products-container-grid{
    grid-template-columns: repeat(6,1fr);
  }
}
@media(max-width:1300px){
  .products-container-grid{
    grid-template-columns: repeat(5,1fr);
  }
}
@media (max-width: 1000px) {
  .products-container-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 800px) {
  .products-container-grid {
    grid-template-columns: repeat(3, 1fr);
  }
 
}

@media (max-width: 575px) {
  .products-container-grid {
    grid-template-columns: repeat(2, 1fr);
  }
   .cart-pic{
    margin-right: 5px;
  }
}

@media (max-width: 450px) {
  .products-container-grid {
    grid-template-columns: 1fr;
  }
  .product-container{
    margin-left: 10px;
  }
  .product-image-container{
    margin-left:40px;
  }
  .search-input{
    width: 150px;
  }
}
.product-container::-webkit-scrollbar{
  display: none;
}
.product-container{
   border-right: 1px solid rgb(231, 231, 231);
   border-bottom: 1px solid rgb(231, 231, 231);
   border-left: 1px solid rgb(231, 231, 231);
   display: flex;
   flex-direction: column;
   padding-top: 40px;
   padding-left: 25px;
   padding-right: 25px;
   padding-bottom: 25px;
   overflow-x: scroll;
   overflow-y: hidden;
}
.product-image-container{
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 8px;
}
.product-image
{
  max-width: 100%;
  max-height: 100%;
  height: 200px;
  object-fit: contain;
  
}
.price-container{
  display: flex;
  flex: 1;
  justify-content: center;
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
  color: rgb(156, 15, 100);
}
.product-quantity{
  display: flex;
  gap: 6px;
  padding-bottom: 3px;
  margin-bottom: 5px;
}
.quantity-selector{
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
  background-color: rgb(229, 226, 226);
  border-color: rgb(245, 242, 238);
  border-radius: 6px;
  font-size: 1rem;
}
.add-to-cart
{
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 20px;
  background-color: brown;
  color: white;
  margin-bottom: 8px;
}
.add-to-cart:hover{
  cursor: pointer;
  opacity: 0.5;
}
.add-to-cart:active{
  opacity: 0.1;
}
.buy-now:hover{
  cursor: pointer;
  opacity: 0.5;
}
.buy-now:active{
  opacity: 0.1;
}
.buy-now
{
  border: none;
  padding: 8px;
  background-color: rgb(144, 63, 220);
  color: white;
  border-radius: 18px;
  width: 100%;
}

.product-image-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  margin-bottom: 20px;
}
.product-name
{
  height: auto;
  margin-bottom: 5px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  text-align: center;
  white-space: normal;
  word-wrap: break-word;
  overflow: hidden;
}
.cart-image
{
  margin-right: 20px;
  font-size: 1rem;
  position: relative;
}
.cart-pic{
  height: 50px;
  width: 50px;
}
.cart-badge{
  position: absolute;
  top: -2px;
  right: -4px;
  background-color: red;
  border-radius: 50%;
  color: white;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: bold;

}