.cart-main{
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-width: 800px;
  margin: auto;
}
.checkout-header{
  text-align: center;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color: blueviolet;
  font-size: 2rem;
  margin-bottom: 2px;
}
.cart-content{
  display: flex;
  flex-wrap:wrap;
  gap: 20px;
  justify-content: center;
}
.cart-items-section{
  display: flex;
  flex: 2;
  flex-direction: column;
  gap: 20px;
  min-width: 200px;
}
.cart-card{
  display: flex;
  gap: 15px;
  padding: 15px;
  background: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 8px;
  align-items: center;
}
.cart-item-image-container{
  flex-shrink: 0;
}
.cart-item-image{
 width: 100px;
 height: auto;
 object-fit: contain;
}
.item-details
{
  display: flex;
  flex-direction:column;
  gap: 6px;
}
.cart-item-name{
  font-size: 1.1rem;
  font-style:oblique;
}
.cart-item-price,
.item-quantity,
.delivery-date{
  font-size: 0.95rem;
}
.delete-button{
  border: none;
  border-radius: 5px;
  background-color: gold;
  padding: 8px 12px;
  cursor: pointer;
  width: fit-content;
}
.price-details-section{
  flex: 1;
  min-width: 220px;
  max-width: 300px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
  height: fit-content;
  align-self: self-start;
}
.price-details-section h3{
  margin-bottom: 15px;
}
.price-line,
.shipping-line{
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}
@media(max-width:768px){
  .cart-content{
    flex-direction: column;
    align-items: flex-start;
    margin-left: 16px;
  }
  .cart-items-section,.price-details-section{
   width: 300px;
  }
  .cart-card{
    flex-direction: column;
    align-items:flex-start
  }
  .cart-item-image{
    width: 200px;
    height: auto;
  }
}
.order-placement{
  display: flex;
  justify-content: center;
}
.order-button{
  border: none;
  background-color:darkmagenta;
  color: white;
  padding: 12px;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 7px;
  width: fit-content;
  cursor: pointer;
}








